<div class = "text-center"
    <h1 class="text-uppercase mb-3">Ваш заказ успешно оформлен!</h1>
    <br>
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">Вернуться 
                      </a>
</div>
