@model Product

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col">
                            <div class="p-5">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                    <h1 class="fw-bold mb-0">Создание товара</h1>
                                </div>
                                <div class="col bg-body-tertiary">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Введите данные для создания товара</h3>
                                        <hr class="my-4">

                                        <form method="post">
                                            <div class="mb-5">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="text" id="Name" asp-for="Name" class="form-control form-control-lg"/>
                                                    <label class="form-label" asp-for="Name">Введите название товара</label>
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="mb-5">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="text" id="Description" asp-for="Description" class="form-control form-control-lg" />
                                                    <label class="form-label" asp-for="Description">Введите описание товара</label>
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="mb-5">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="text" id="Cost" asp-for="Cost" class="form-control form-control-lg"/>
                                                    <label class="form-label" asp-for="Cost">Стоимость товара</label>
                                                    <span asp-validation-for="Cost" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="mb-5">
                                                <div data-mdb-input-init class="form-outline">
                                                    <input type="text" id="Id" asp-for="Id" class="form-control form-control-lg"/>
                                                    <label class="form-label" asp-for="Id">Введите id товара больше @Model.Id на 1</label>
                                                    <span asp-validation-for="Id" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <hr class="my-4">
                                            <button type="submit" asp-controller="Admin" asp-action="SaveItem" class="btn btn-dark btn-block btn-lg"
                                                    data-mdb-ripple-color="dark">
                                                Сохранить
                                            </button>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>