<div class="d-flex align-items-center justify-content-between" style="width: 100%;">
    <div class="d-grid gap-2 col-6">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Index" type="button">Заказы</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Users" type="button">Пользователи</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Roles" type="button">Роли</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Products" type="button">Товары</a>
    </div>
    <div class="ms-3">
        <span class="text" style="font-size: 1.5rem;">Роли</span>
    </div>
</div>
