@model Registration

<div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form method="post">
            <div class="text-center mb-3">
                <p>Войти с помощью:</p>
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>

            <p class="text-center">или:</p>

            <!-- Name input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="Name" asp-for="Name" class="form-control" />
                <label class="form-label" asp-for="Name">Введите ваше имя</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- Login input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="Login" asp-for="Login" class="form-control" />
                <label class="form-label" asp-for="Login">Введите логин</label>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="Password" asp-for="Password" class="form-control" />
                <label class="form-label" asp-for="Password">Введите пароль</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Repeat Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="ConfirmPassword" asp-for="ConfirmPassword" class="form-control" />
                <label class="form-label" asp-for="ConfirmPassword">Повторите пароль</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                       aria-describedby="registerCheckHelpText" />
                <label class="form-check-label" for="registerCheck">
                    I have read and agree to the terms
                </label>
            </div>

            <!-- Submit button -->
            <button type="submit" asp-controller="Registration" asp-action="SignIn" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Зарегистрироваться</button>
        </form>
    </div>
</div>