@model List<Product>

<div class = "container">
    <div class ="row">
        @foreach (var product in Model)
        {   <div class = "col-4 mb-4">
                <div class="card" style="width: 18rem;">
                  <img src="/img/stopPhoto.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <a href="#" class="btn btn-primary">В корзину</a>
                  </div>
                </div>
            </div>
        }
    </div>
</div>
